<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
    <form action="/removeemployee">
    <h3>SEARCH EMPLOYEE</h3>
   
    <hr>

    <label for="empid"><b>Employee Id</b></label>
    <input type="number" placeholder="Enter Employee ID to search" name="empid" id="empid" required>
    <button type="submit" class="registerbtn">DELETE EMPLOYEE</button>
    <a href="./" style="color:black">BACK TO HOME PAGE</a>

    <br>
    {{#if mesg1}}
    <h3>Data deleted!</h3>
    {{/if}}

     {{#if mesg2}}
    <h3>Not found!</h3>
    {{/if}}
    </form>
  </div>
</body>
</html>