<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
      <form action="/searchemployee"  >
   <h3>SEARCH EMPLOYEE</h3>
   
    <hr>
 
    <label for="empid"><b>Employee Id</b></label>
    <input type="number" placeholder="Enter Employee ID" name="empid" id="empid" required>

    <button type="submit" class="registerbtn">SEACRH EMPLOYEE</button>
    <a href="./" style="color:black">BACK TO HOME PAGE</a>

    <br>
     {{#if mesg1}}
     <h3>Data Found!</h3>
     {{/if}}

     {{#if mesg2}}
     <h3>Data Not Found!</h3>
     {{/if}}
    </form>
  </div>
</body>
</html>